@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: var(--font-family);
    background-color: var(--surface-ground);
}

:root {
    --primary-color: #f97316;
    --primary-color-text: #ffffff;
    --surface-ground: #f8fafc;
    --surface-section: #ffffff;
    --surface-card: #ffffff;
    --surface-overlay: #ffffff;
    --surface-border: #e2e8f0;
    --surface-hover: #f1f5f9;
    --text-color: #334155;
    --text-color-secondary: #64748b;
}