.layout-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout-content-wrapper {
    flex: 1;
    display: flex;
    overflow: hidden;
    margin-left: 64px;
    transition: margin-left 0.25s ease-in-out;

    @media (max-width: 768px) {
        margin-left: 240px;
    }
}

.layout-content {
    flex: 1;
    overflow-y: auto;
    background-color: var(--surface-ground);
    padding: 0;
}